html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #f2eae2;
	color: #222;
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1200px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;

	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

.card {
	display: flex;
	border-radius: 10px;
	overflow: hidden;
	width: 600px;
	height: 450px;
}
.card-image img {
	display: block;
	width: 300px;
	height: 450px;
}
.card-content {
	background-color: #fff;
	width: 300px;
	padding: 32px;
}
.card-content-header {
	font-weight: 500;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #6c7289;
	margin-bottom: 20px;
}
.card-content-title {
	margin-top: 0;
	margin-bottom: 24px;
	font-family: Fraunces, Montserrat, sans-serif;
	font-size: 32px;
	line-height: 32px;
}

.card-content-text {
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0px;
	font-weight: 500;
	color: #6c7289;
  margin-top: 0;
  margin-bottom: 30px;
}
.card-content-price {
	display: flex;
	align-items: center;
	gap: 19px;
	margin-bottom: 30px;
}

.card-content-price div {
	font-size: 32px;
	line-height: 32px;
	font-family: Fraunces, Montserrat, sans-serif;
	font-weight: 700;
	color: #3d8168;
}

.card-content-price span {
	font-weight: 500;
	font-size: 13px;
	line-height: 23px;
	color: #6c7289;
	text-decoration: line-through;
}
.card-content-action {
}
.card-content-action-link {
	display: flex;
	justify-content: center;
	gap: 12px;
	align-items: center;
	background-color: #3d8168;
	border-radius: 8px;
	width: 100%;
	padding: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.card-content-action-link:hover {
  background-color: #1a4032;
}
.card-content-action-link img {
	display: block;
	width: 15px;
	height: 16px;
}
.card-content-action-link span {
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}
